<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CamadaAcessoDados.Properties.Settings.StringConexao"
            connectionString="server = localhost; port = 5432; Database=bd_hemodialise; User id = postgres; Password=Administrador" />
    </connectionStrings>
</configuration>