<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="1.0.0.22" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net452" />
  <package id="itext7" version="7.0.2.2" targetFramework="net452" />
  <package id="itext7.font-asian" version="7.0.2" targetFramework="net452" />
  <package id="itext7.hyph" version="7.0.2" targetFramework="net452" />
  <package id="itext7.licensekey" version="2.0.3" targetFramework="net452" />
  <package id="itext7.pdfcalligraph" version="1.0.2" targetFramework="net452" />
  <package id="itext7.pdfhtml" version="1.0.0.2" targetFramework="net452" />
  <package id="itext7.pdfinvoice" version="1.0.1" targetFramework="net452" />
  <package id="itext7.pdfsweep" version="1.0.1" targetFramework="net452" />
  <package id="itext7.pdfxfa" version="1.0.0" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net452" />
  <package id="itextsharp.xmlworker" version="5.5.11" targetFramework="net452" />
  <package id="log4net" version="2.0.7" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net452" />
  <package id="sqlite-net" version="1.0.8" targetFramework="net452" />
  <package id="Timeline" version="2.0.2.41912" targetFramework="net452" />
  <package id="WPFTextBoxAutoComplete" version="1.0.2" targetFramework="net452" />
</packages>